body {
	margin: 0;
	padding: 0;
	font-family: lato;
}

header {
	width: 100%;
	float: left;
	background-color: #f6f9f9;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

header .container {
	padding: 20px 0px;
}

section {
	width: 100%;
	float: left;
}

.banner {
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 25px 0;
}

.banner-content {
	text-align: center;
	width: 50%;
	padding-top: 190px;
	padding-bottom: 60px;
	margin: 0px auto;
	color: white;
}

.banner-content h2 {
	font-size: 72px;
	margin: 0;
}

.banner-content span {
	border-bottom: 2px solid #15a4fa;
	display: block;
	margin: 0 auto;
	width: 80%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.banner-content button {
	padding: 10px;
	background-color: transparent;
	border: 1px solid #15a4fa;
	width: 120px;
	border-radius: 3px;
	margin-bottom: 170px;
	margin-top: 65px;
}

.banner-content a {
	text-decoration: none;
	color: white;
}

.simple {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 110px;
	background-color: #f6f9f9;
	color: #999999;
}

.simple h2 {
	color: black;
}

.simple-content {
	width: 70%;
	margin: 0 auto;
}

.feature-item {
	float: left;
	width: 33.33%;
	text-align: center;
	padding: 65px 0px;
}

.feature-item p {
	color: #999999;
}

.portfolio {
	background-color: #f6f9f9;
	padding-bottom: 115px;
}

.portfolio-content {
	margin: 0 auto;
}

.portfolio-header {
	margin: 80px 0;
	text-align: center;
}

.portfolio-header p {
	color: #999999;
}

.row {
	float: left;
	width: 100%;
}

.row img {
	width: 33%;
}

.contact {
	background-image: url(../img/stay.jpg);
	color: white;
	padding: 70px 0px 110px 0px;
}

.contact-header {
	text-align: center;
	margin-bottom: 50px;
}

form input {
	background-color: transparent;
	border: 1px solid white;
	padding: 0;
}

.form {
	width: 40%;
	margin: 0 auto;
	position: relative;
}

.name,
.email {
	width: 100%;
	height: 30px;
	border-radius: 2px;
	margin-bottom: 20px;
	padding: 10px;
}

textarea {
	background-image: url(../img/stay.jpg);
	width: 96%;
	height: 145px;
	border-radius: 2px;
	margin-bottom: 10px;
	padding: 20px;
}

.checkmark {
	background-color: #999999;
}

.contact-btn {
	float: right;
	background-color: transparent;
	border: 1px solid #15a4fa;
	padding: 10px;
	width: 100px;
	border-radius: 2px;
	position: absolute;
	left: 377px;
}

.contact-btn a {
	text-decoration: none;
	color: white;
}

button:hover {
	background-color: #15a4fa;
}

footer {
	width: 100%;
	float: left;
	background-color: #f6f9f9;
	padding: 25px 0px;
}

.copyright {
	color: #999999;
	float: left;
}

.icons {
	float: right;
	margin: auto;
	padding: 10px;
}

footer i {
	padding: 12px;
	margin-right: 5px;
	background-color: #15a4fa;
	width: 20px;
	color: white;
	text-align: center;
}